$white: white;
$black: black;
$primary: #005133;
$primary-1: lighten(#005133, 2%);
$secondary: #263746;
$secondary-1: lighten(#263746, 22%);
$secondary-2: lighten(#263746, 3%);
$tertiary: darken(#dfece1, 12%);
$light: darken(#dae3e4, 5%);
