$white: white;
$black: black;
$primary: #00512c;
$primary-1: lighten(#00512c, 2%);
$secondary: #263746;
$secondary-1: lighten(#263746, 22%);
$secondary-2: lighten(#263746, 3%);
$tertiary: #b9d5bd;
$light: darken(#b9d5bd, 5%);
