$white: white;
$black: black;
$primary: #00512c;
$primary-1: lighten(#00512c, 2%);
$primary-2: darken(#00512c, 6%);
$secondary: #263746;
$secondary-1: lighten(#263746, 22%);
$tertiary:  darken(#E5EDE9, 11%);
$light: darken(#bfd4b8, 5%);
$medium: #004e52;
$medium-1: lighten(#23666A, 4%);
$loud: lighten(#fdda0d, 5%);
$warning: red;
