.cta {
    a {
        text-decoration: none;
        color: $white;
        .bg-primary-1 {
            transition: background-color 0.3s ease-in-out;
            will-change: background-color;
        }
        .bg-primary-main {
            transition: background-color 0.3s ease-in-out;
            will-change: background-color;
        }
        &:hover {
            .bg-primary-1 {
                background-color: $primary;
            }
            .bg-primary-main {
                background-color: $primary-1;
            }
            h2 {
                transform: translateX(6.6%);
                @include min-md {
                    transform: translateX(12.5%);
                }
            }
        }
    }
    .cta-main {
        border-bottom-left-radius: 40px;
        p,
        b {
            color: $white;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.04em;
            font-size: clamp(16.5px, 2vw, 18.5px);
        }
    }
    .cta-button-container {
        border-top-right-radius: 40px;
        h2 {
            font-size: clamp(15px, 3vw, 20px);
            font-weight: 400;
            letter-spacing: 0.05em;
            line-height: 1.5;
            color: $white;
            transition: transform 0.3s ease-in-out;
            will-change: transform;
            transform: translateX(0%);
            .small {
                font-size: clamp(15px, 3vw, 18px);
            }
        }
    }
}
