.form {
    form {
        background-color: $alpha;
        color: $white;
        input,
        textarea,
        .form-check-input {
            outline: none;
            color: $bravo;
            border: 2px solid transparent;
            transition: 0.3s border ease-in-out;
            box-shadow: none;
            appearance: none;
            border-radius: 0;
        }
        textarea {
            resize: none;
            scrollbar-color: $bravo-1 transparent;
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: $bravo-1;
            }
        }
        label {
            font-size: 17px;
        }
        input {
            &.has-input-error {
                border: 2px solid $golf;
            }
        }
        input[type="checkbox"] {
            cursor: pointer;
        }
    }
    .form-reply {
        color: $white;
        transition: color 0.3s ease-in-out;
        will-change: color;
        &.has-p-error {
            color: $golf;
        }
    }
    .form-side {
        background-color: $echo;
        h2,
        p {
            color: $white;
            font-size: clamp(16.5px, 2vw, 18.5px);
            letter-spacing: 0.03em;
        }
        .font {
            fill: $white;
            font-size: 17px;
            font-weight: 500;
            opacity: 0.88;
        }
        .shapes-1 {
            border-top: 12.5rem solid;
            border-color: $alpha;
            background-color: $alpha;
            transition: border-color 0.3s ease-in-out;
            will-change: border-color;
            border-top-right-radius: 100%;
            height: 0px;
            width: 113%;
            position: absolute;
            right: 0;
            bottom: -25%;
            left: 0;
            @include min_xl {
                height: 100px;
                bottom: 0;
            }
        }
    }
    .form-tooltip {
        width: fit-content;
        height: 20px;
        display: block;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        will-change: opacity, color;
        color: $white;
        &.has-mouse {
            opacity: 1;
        }
        &.has-tooltip-error {
            color: $golf;
            opacity: 1;
        }
    }
    .button-container {
        background-color: $alpha-1;
        transition: background-color 0.3s ease-in-out;
        will-change: background-color;
        &:hover {
            background-color: lighten($alpha-1, 3%);
        }
        input[type="submit"] {
            background-color: transparent;
            border: none;
            outline: none;
            color: $white;
        }
    }
}
