html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
}

.hidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.primary-border {
    border: 3px solid $primary;
}

.secondary-border-top {
    border-top: 2px solid $secondary;
}

.color-primary {
    color: $primary;
}
