html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    overflow: hidden;
}

// helper

.hidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

// border

.alpha-border {
    border: 3px solid $alpha;
    border-radius: 3px;
}

.echo-border {
    border-bottom: 4px solid $echo;
}

.bravo-border-top {
    border-top: 1.5px solid $bravo;
}

// color

.color-alpha-2 {
    color: $alpha-2;
}

// background

.bg-white {
    background-color: $white;
}

.bg-alpha {
    background-color: $alpha;
}

.bg-foxtrot {
    background-color: $foxtrot;
}

.bg-alpha-1 {
    background-color: $alpha-1;
}

.bg-echo {
    background-color: $echo;
}

// scrollbar

.os-theme-body {
    --os-size: 7px;
    &.has-right {
        z-index: 997;
    }
}

.os-theme-body .os-scrollbar-handle {
    background: $bravo-1;
    border-radius: 0px;
    height: 85px;
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}

// button

.c-custom-1 {
    margin: 0;
    width: 52px;
    height: 52px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    outline: none;
    border: none;
    background-color: transparent;
    i {
        position: relative;
        z-index: 1;
        color: $white;
        transition:
            transform 0.4s ease-in-out,
            opacity 0.4s ease-in-out;
        will-change: transform, opacity;
        opacity: 1;
        transform: scale(1);
    }
    &::after {
        content: " ";
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $alpha;
        border-radius: 50%;
        transition: transform 0.4s ease-in-out;
        will-change: transform;
        transform: scale(1);
        position: absolute;
        justify-content: center;
        color: $white;
        font-size: xx-large;
    }
    &:hover {
        &::after {
            transform: scale(0.95);
        }
        i {
            transform: scale(0.95);
            opacity: 0.75;
        }
    }
}

// heading

h2 {
    font-size: clamp(20px, 3.25vw, 26px);
    font-weight: 400;
    color: $bravo;
    letter-spacing: 0.05em;
    line-height: 1.5;
    .heading-inner {
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 4px;
        vertical-align: middle;
    }
}