html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    overflow: hidden;
}

.hidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.primary-border {
    border: 3px solid $primary;
}

.secondary-border-top {
    border-top: 1.5px solid $secondary;
}

.color-primary {
    color: $primary;
}

.bg-white {
    background-color: $white;
}

.os-theme-body {
    --os-size: 7px;
    &.has-right {
        z-index: 997;
    }
}

.os-theme-body .os-scrollbar-handle {
    background: $secondary-1;
    border-radius: 5px;
    height: 90px;
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}
