.header-brochure {
    min-height: 100dvh;
    @include min_md {
        background-color: $medium-1;
    }
    img {
        aspect-ratio: 3/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h1 span {
        display: block;
        font-size: clamp(26px, 4vw, 30px);
        font-weight: 400;
        color: $secondary;
        letter-spacing: 0.05em;
        line-height: 1.5;
        font-family: $font-1;
        @include min_md {
            font-weight: 500;
        }
    }
    p {
        font-size: clamp(20px, 3vw, 24px);
        font-weight: 300;
        color: $secondary;
        letter-spacing: 0.05em;
        line-height: 1.5;
        font-family: $font-1;
        @include min_md {
            font-weight: 400;
        }
    }
    .header-brochure-side-column {
        background-color: transparent;
        @include min_md {
            background-color: $medium-1;
        }
    }
    .header-brochour-cta.cta {
        .shapes-1 {
            border-top: 12.5rem solid;
            border-color: $primary;
            transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
            will-change: border-color;
            border-top-right-radius: 100%;
            height: 50rem;
            top: 0;
            right: 0;
            left: 0;
            transform: translate(0%, -12.5%);
            width: 212.5%;
            z-index: -1;
            @include min_md {
                left: 0;
                transform: translate(-57%, -42%);
                right: initial;
                border-top-right-radius: 50%;
                height: 30rem;
                width: 69%;
                background-color: $primary;
            }
            @include min_lg {
                height: 40rem;
            }
        }
        .shapes-2 {
            overflow: hidden;
            bottom: -67px;
            right: 0;
            left: 0;
            width: 88px;
            height: 88px;
            margin: 0 auto;
            background-color: $white;
            border-radius: 50%;
        }
        b,
        p {
            opacity: 0.95;
            font-family: $font;
            font-size: clamp(17px, 2vw, 18.5px);
        }
        a:hover {
            .shapes-1 {
                background-color: $primary-1;
                border-color: $primary-1;
            }
        }
    }
}

.small-header {
    background-color: $medium;
    position: relative;
    overflow: hidden;
    height: 83px;
    a {
        text-decoration: none;
    }
    h1 {
        color: $white;
        font-size: clamp(15px, 2vw, 17px);
        font-weight: 200;
        color: $secondary;
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: $white;
        transition: opacity 0.3s ease-in-out;
        opacity: 0.88;
        will-change: opacity;
        font-family: $font-1;
        &:hover {
            opacity: 0.67;
        }
        span {
            display: block;
            text-align: center;
        }
    }
    .shapes-1 {
        position: absolute;
        background-color: $white;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        bottom: -67px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}
