.header-brochure {
    .header-brochure-main {
        img {
            aspect-ratio: 3/2;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include min_sm {
                border-radius: 3px;
            }
        }
        h1 span {
            display: block;
            font-size: clamp(26px, 4vw, 30px);
            font-weight: 400;
            color: $secondary;
            letter-spacing: 0.05em;
            line-height: 1.5;
            font-family: $font-1;
            @include min_lg {
                font-weight: 500;
            }
        }
        .sub-heading {
            font-size: clamp(20px, 3vw, 24px);
            font-weight: 300;
            color: $secondary;
            letter-spacing: 0.05em;
            line-height: 1.5;
            font-family: $font-1;
            @include min_lg {
                font-weight: 400;
            }
        }
    }
    .header-brochour-cta.cta {
        .shapes-1 {
            transition: background-color 0.3s ease-in-out;
            will-change: background-color;
            border-top-right-radius: 100%;
            height: 67%;
            top: -28%;
            left: 0;
            width: 133%;
            z-index: 0;
            background-color: $primary;
            @include min_sm {
                width: 123%;
            }
        }
        .shapes-2 {
            overflow: hidden;
            bottom: -67px;
            right: 0;
            left: 0;
            width: 88px;
            height: 88px;
            margin: 0 auto;
            background-color: $white;
            border-radius: 50%;
            z-index: 1;
        }
        b {
            font-weight: 500;
            font-size: 19px;
            @include min_lg {
                opacity: 0.95;
            }
        }
        p {
            font-size: 17.5px;
            font-weight: 500;
            @include min_lg {
                opacity: 0.9;
            }
        }
        h2 {
            font-family: $font;
        }
        .bg-medium {
            z-index: 1;
        }
        a:hover {
            .shapes-1 {
                background-color: $primary-1;
            }
        }
    }
}

.small-header {
    position: relative;
    overflow: hidden;
    a {
        text-decoration: none;
    }
    h1,
    h2,
    p {
        color: $white;
        color: $secondary;
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: $white;
        opacity: 0.88;
        font-family: $font-1;
    }
    h1 {
        font-weight: 300;
        font-size: 15px;
        transition: opacity 0.3s ease-in-out;
        will-change: opacity;
        &:hover {
            opacity: 0.67;
        }
        span {
            display: block;
            text-align: center;
        }
    }
    p {
        font-size: 15px;
        font-weight: 200;
        @include min_md {
            font-size: 16px;
        }
    }
    h2 {
        font-size: 16px;
        font-weight: 400;
        @include min_md {
            font-size: 17px;
        }
        @include min_xxl {
            font-size: 20px;
        }
    }
    .small-header-radius {
        border-top-left-radius: 40px;
    }
    .small-header-bg {
        background-color: $medium;
        @include min_lg {
            background-color: $primary-1;
        }
    }
    .shapes-1 {
        position: absolute;
        background-color: $white;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        bottom: -67px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}
